<div class="container example-container mat-elevation-z8" fxLayout="column">

    <div class="header mat-accent-bg p-24 mb-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="h2">{{'PAGES.ROLES_AND_PERMISSIONS.TITLE' | translate}}</div>
        <button mat-raised-button color="primary" (click)="openAddRoleDialog()"
            *ngxPermissionsOnly="['PAGES_SECURITY_ROLES_AND_PERMISSIONS_ADD']" [style.display]="'none'">
            <mat-icon>add</mat-icon> {{'PAGES.ROLES_AND_PERMISSIONS.ACTIONS.ADD_ROLE' | translate}}
        </button>
    </div>

    <div fxLayout="row" class="pl-24 pr-24" fusePerfectScrollbar>
        <mat-accordion multiple="false" class="example-headers-align" style="width: 100%">
            <mat-expansion-panel [expanded]="false" hideToggle="true" *ngFor="let role of roles; let i=index"
                (click)="getPermissionsByRoleId(role.Id)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{role.Name}}
                    </mat-panel-title>
                    <mat-panel-description fxLayoutAlign="end center">
                        <div *ngxPermissionsOnly="['PAGES_SECURITY_ROLES_AND_PERMISSIONS_DELETE']">
                            <mat-icon matTooltip="{{'PAGES.ROLES_AND_PERMISSIONS.ACTIONS.DELETE_ROLE' | translate}}" (click)="removeRole(role, $event)" 
                                [style.display]="'none'" *ngIf="role.Id !== 'COD_ADMIN'">delete
                            </mat-icon>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div fxLayout="column">
                    <mat-checkbox class="ml-24" [checked]="role.IsAllPermissionsChecked" (change)="checkToggle(role)"
                        [disabled]="role.Id == 'COD_ADMIN'">
                        {{role.IsAllPermissionsChecked ? ('PAGES.ROLES_AND_PERMISSIONS.ACTIONS.UNCHECK_ALL' | translate) : ('PAGES.ROLES_AND_PERMISSIONS.ACTIONS.CHECK_ALL' | translate)}}
                    </mat-checkbox>
                    <br>
                    <mat-checkbox class="ml-24" *ngFor="let permission of role.Permissions; let i=index"
                        [checked]="permission.IsGranted" (change)="checkIfIsAllPermissionsChecked(role, permission)"
                        [disabled]="permission.Id == 'PAGES_HOME' || role.Id == 'COD_ADMIN'">
                        {{permission.Name}}
                    </mat-checkbox>
                    <div fxLayoutAlign="end center" *ngIf="role.Id != 'COD_ADMIN'">
                        <button mat-raised-button color="primary" class="mr-20" (click)="saveChanges(role)"
                            *ngxPermissionsOnly="['PAGES_SECURITY_ROLES_AND_PERMISSIONS_EDIT']">
                            <mat-icon style="color: #ffffff;">save</mat-icon> {{'PAGES.ROLES_AND_PERMISSIONS.ACTIONS.SAVE_CHANGES' | translate}}
                        </button>
                    </div>
                </div>

            </mat-expansion-panel>
        </mat-accordion>
    </div>

</div>