@import "src/@fuse/scss/fuse";

home {

    #home-container {

        .header {
            padding: 24px;
            height: 320px;
            min-height: 320px;
            background: #1A237E;
            background: linear-gradient(to right, #0E2A3B 0%, #34306B 100%);

            @include media-breakpoint('xs') {
                height: 400px;
                min-height: 400px;
            }

            .title-and-description {
                margin: 32px 24px;

                @include media-breakpoint('xs') {
                    margin: 64px 24px;
                }

                .h1 {
                    color: white;
                    font-size: 48px;
                    font-weight: 400;
                    letter-spacing: 0.01em;
                    text-align: center;

                    @include media-breakpoint('xs') {
                        font-size: 32px;
                    }
                }

                .h3 {
                    color: rgba(255, 255, 255, 0.75);
                    max-width: 480px;
                    text-align: center;
                    margin-top: 16px;
                    font-weight: 300;
                    letter-spacing: 0.05em;

                    @include media-breakpoint('xs') {
                        font-size: 14px;
                    }
                }
            }
        }

        .content {

            .price-tables {
                flex: 1 0 auto;
                margin-top: -192px;

                @include media-breakpoint('xs') {
                    margin-top: -128px;
                }

                .price-table {
                    margin: 12px;
                }
            }

        }
    }
}