<div id="home-container" class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header" fxLayout="row" fxLayoutAlign="start start">
        <div class="title-and-description" fxLayout="column" fxLayoutAlign="center center" fxFlex>
            <div class="h1">{{'PAGES.HOME.TITLE' | translate}}</div>
            <div class="h3">
                {{'PAGES.HOME.DESCRIPTION' | translate}}
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <!-- <div class="content" fxLayout="column">
        <div class="price-tables" fxLayout="row wrap" fxLayoutAlign="center center">
            <div class="price-table style-2 mat-elevation-z4" fxLayout="column" *blockUI="'bw-blockui-computers'">
                <div class="package-type mat-accent-fg">{{'PAGES.HOME.COMPUTERS' | translate}}</div>

                <div class="price" fxLayout="row" fxLayoutAlign="center start"> -->
                    <!-- <div class="currency">$</div> -->
                    <!-- <div class="value">{{computersBasicSummary.Quantity}}</div>
                </div> -->

                <!-- <div class="period">PER MONTH</div> -->

                <!-- <div class="terms p-24" fxLayout="column" fxLayoutAlign="start center" [style.height.px]="maxHeight">
                    <div class="term" *ngFor="let computerType of computersBasicSummary.ComputerTypes">
                        <ng-container *ngIf="computerType.ComputersQuantity > 0">
                            <span class="text-bold">{{computerType.ComputersQuantity}}</span>
                            {{computerType.Name}}
                        </ng-container>
                    </div>
                </div>

                <button mat-raised-button class="cta-button" color="accent">{{'COMMON.ACTIONS.MANAGE' | translate}}</button>
            </div> -->

            <!-- <div class="price-table style-2 mat-elevation-z12" fxLayout="column" *blockUI="'bw-blockui-components'"> -->
                <!-- <div class="badge warn">BEST VALUE</div> -->

                <!-- <div class="package-type mat-accent-fg">{{'PAGES.HOME.COMPONENTS.COMPONENTS' | translate}}</div>

                <div class="price" fxLayout="row" fxLayoutAlign="center start"> -->
                    <!-- <div class="currency">$</div> -->
                    <!-- <div class="value">{{componentsBasicSummary.Quantity}}</div>
                </div> -->

                <!-- <div class="period">PER MONTH</div> -->

                <!-- <div class="terms p-24" fxLayout="column" fxLayoutAlign="start center" [style.height.px]="maxHeight">
                    <div class="term" *ngFor="let componentType of componentsBasicSummary.ComponentTypes">
                        <ng-container *ngIf="componentType.ComponentsQuantity > 0">
                            <span class="text-bold">{{componentType.ComponentsQuantity}}</span>
                            {{'PAGES.HOME.COMPONENTS.' + componentType.Id + (componentType.ComponentsQuantity > 1 ? 'S' : '') | translate}}
                        </ng-container>
                    </div>
                </div> -->

                <!-- <button mat-raised-button class="cta-button" color="accent">{{'COMMON.ACTIONS.MANAGE' | translate}}</button>
            </div> -->

            <!-- <div class="price-table style-2 mat-elevation-z4" fxLayout="column" *blockUI="'bw-blockui-sectors'">
                <div class="package-type mat-accent-fg">{{'PAGES.HOME.SECTORS' | translate}}</div>

                <div class="price" fxLayout="row" fxLayoutAlign="center start"> -->
                    <!-- <div class="currency">$</div> -->
                    <!-- <div class="value">{{sectorsBasicSummary.Quantity}}</div>
                </div> -->

                <!-- <div class="period">PER MONTH</div> -->

                <!-- <div class="terms p-24" fxLayout="column" fxLayoutAlign="start center" [style.height.px]="maxHeight">
                    <div class="term" *ngFor="let sectorType of sectorsBasicSummary.SectorTypes">
                        <ng-container *ngIf="sectorType.SectorsQuantity > 0">
                            <span class="text-bold">{{sectorType.SectorsQuantity}}</span>
                            {{sectorType.Name}}
                        </ng-container>
                    </div>
                </div>

                <button mat-raised-button class="cta-button" color="accent">{{'COMMON.ACTIONS.MANAGE' | translate}}</button>
            </div> -->
        <!-- </div> -->

        <!-- <span *ngFor="let computer of _computerService.entitiesObservable | async">
            {{computer.Name}}
        </span> -->
    <!-- </div> -->

</div>