<div id="error-401" fxLayout="column" fxLayoutAlign="center center">

    <div class="content" fxLayout="column" fxLayoutAlign="center center">

        <div class="error-code">401</div>

        <div class="message">{{'PAGES.ERRORS.401.DETAIL' | translate}}</div>

        <!-- <div class="search" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="icon s-24">search</mat-icon>
            <input placeholder="Search for something" fxFlex>
        </div> -->

        <a class="back-link" [routerLink]="'/apps/dashboards/project'">{{'PAGES.ERRORS.401.GO_BACK_BUTTON' | translate}}</a>

    </div>

</div>