// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

.bw-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 400px;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .mat-dialog-container {
        padding: 0;
        max-width: unset;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }
    
}

.bw-mat-snack-bar-bg-success {
    background-color: #4caf50 !important;
    color: white !important;
}

.bw-mat-snack-bar-bg-info {
    background-color: #2196f3 !important;
    color: white !important;
}

.bw-mat-snack-bar-bg-error {
    background-color: #f44336 !important;
    color: white !important;
}

.bw-mat-snack-bar-bg-warning {
    background-color: #ff8f00 !important;
    color: white !important;
}
